body{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.section-2{
    height: 500px;
    background-color: gainsboro;
}
.section-text{
    margin: 0;
    color: #3e3e3e;
    background: white;
    font-weight: bold;
    text-align: center;
}
.section-news > div:first-child{
    margin-bottom: 2px; 
    background-color: #ffffff;
}
.news{
    width: 100%;
    background-color: #ffffff;
    height: 240px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.news > div:first-child{
    margin: 0 6px;
}
.news-data{
    width: 49%;
    height: 100%;
    background-color: #099FEF;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
}
.news-image{
    margin: 10px 0;
    padding: 0 40px;
    color: white;
}
.news-text{
    color: white;
    text-align: justify;
    width: 49%;
  
}
.news-text > span.news-url{
    text-align: right;
}
.news-url{
    font-size: 10px;
    float: right;
    color: #ffffff
}
.news-url > a{
    color: #ffffff; 
}




