<<<<<<< HEAD
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial ", sans-serif, Helvetica, sans-serif;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgb(23, 221, 235);
    
  }
  
  .footer__contenedor {
    width: 50%;
    margin: 20px;
    padding: 20px;
    border: 2px solid;
  }
  .link-repo{
      text-decoration: none;
      font-size: 25px;
      color: #000000;
  }

.header{
    background-color: rgb(234, 240, 241);
}

.encabezado{
    display : flex;
    align-items: center;
    height: 70px;
    justify-content: space-around;
}

.menu{
    display : flex;
    list-style-type: none;
}

.enlaces{
    display: flex;
    justify-content: flex-end;
}

.menu__item{
    line-height : 3;
}

.menu__link{
    text-decoration : none;
    font-size: 20px;
    color : rgb(0, 0, 0);
    margin: 5px;
}

.banner{
    display : flex;
    justify-content: center;
}

.banner__img{
    max-width: 100%;
    width: 1200px;
    height: 250px;
}

.titulo .enlaces{
    width : 50%;
}
=======
>>>>>>> b61f41567572efa5ba2d65928cc0d4aeb3fc38fc
.equipo{
    display: flex;
    background-color: beige;
    border-style: solid;
    border-color: black;
    justify-content: space-evenly ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    text-align: center;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.equipo_item_1{
    text-align: center;
    color: brown;
}

.img_team{
    border-style: solid;
    border-color: cadetblue;
}
<<<<<<< HEAD
=======

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial ", sans-serif, Helvetica, sans-serif;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
>>>>>>> b61f41567572efa5ba2d65928cc0d4aeb3fc38fc
.espacio {
  margin-bottom: 50px;
}
/* servicios */
.servicios {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  /* background-color: #bbbbbb94; */
}
.serv-columnas {
  width: 33.08%;
  height: 510px;
  margin: 15px;
  border-radius: 9px;
  box-shadow: 8px 7px 15px 0#1a1a1a70;
}

.serv-contenido {
  margin-top: 40px;
}

.serv-contenido__parrafo {
  padding: 10px 12px;
  text-align: justify;
  bottom: 0;
  color: #1a1a1a;
  font-size: 17px;
}

.serv-columas__img {
  max-width: 100%;
  border-radius: 9px;
  box-shadow: 0px 7px 15px 0#1a1a1a70;
}

.serv-contenido__link {
  font-size: 20px;
  float: right;
  text-decoration: none;
  color: #4b166e;
}

.serv-contenido__link:hover {
  font-size: 23px;
  color: rgb(46, 164, 168);
}
<<<<<<< HEAD

}
.section-2{
    height: 500px;
    width: 1200px;
    background-color: gainsboro;
}
.section-text{
    margin: 0;
    color: #3e3e3e;
    background: white;
    font-weight: bold;
    text-align: center;
}
.section-news > div:first-child{
    margin-bottom: 2px; 
    background-color: #ffffff;
}
.news{
    width: 100%;
    background-color: #ffffff;
    height: 240px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.news > div:first-child{
    margin: 0 6px;
}
.news-data{
    width: 49%;
    height: 100%;
    background-color: #099FEF;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; 
}
.news-image{
    margin: 10px 0;
    padding: 0 40px;
    color: white;
}
.news-text{
    color: white;
    text-align: justify;
    width: 49%;
  
}
.news-text > span.news-url{
    text-align: right;
}
.news-url{
    font-size: 10px;
    float: right;
    color: #ffffff
}
.news-url > a{
    color: #ffffff; 
}
=======
>>>>>>> b61f41567572efa5ba2d65928cc0d4aeb3fc38fc
